<!DOCTYPE html>
<html>
<head>
  <title>Home Page</title>
  <meta charset = "utf-8">
  <link rel = "stylesheet" href = "help_css.css">
</head>
<body>
  {{> header}}
  <p>{{message}}</p>

  {{> footer}}
</body>
</html>
